# Mac OS X files
.DS_Store

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
main
/vendor
coverage.txt

# configs
configs/config.yml
configs/.env
configs/backend.env

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# IDE configs
.idea

# deploy
deploy/.terraform
deploy/.terraform.lock.hcl
deploy/terraform.tfstate
deploy/terraform.tfstate.backup
deploy/backend-secret.yaml
deploy/backend-configmap.yaml
deploy/gke.tf
